{% extends "layout.html" %}
{% block content %}

<div class="photo-container">
  <img src='/static/images/placeholder.jpg'>
</div>

<div class="menu-container">
  <h2>Classify</h2>

  <h3>Features</h3>

  <form method="POST" action="/classify">
      {{ form.csrf_token }}

      {% if form.layered_rocks.errors %}
        {% for error in form.layered_rocks.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      {% endif %}

      <p>{{ form.layered_rocks }}
        <label for="layered_rocks">{{ form.layered_rocks.description }}</label>
     </p>
      <p>
        {{ form.gypsum_vein }}
        <label for="gypsum_vein">{{ form.gypsum_vein.description }}</label>
      </p>
      <p>
        {{ form.bright_rocks }}
        <label for="bright_rocks">{{ form.bright_rocks.description }}</label>
      </p>
      <p>
        {{ form.meteorites }}
        <label for="meteorites">{{ form.meteorites.description }}</label>
      </p>
      <p>
        {{ form.blueberries }}
        <label for="blueberries">{{ form.blueberries.description }}</label>
      </p>
      <p>
        {{ form.wheel_wear }}
        <label for="wheel_wear">{{ form.wheel_wear.description }}</label>
      </p>
      <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}
