{% extends "layout.html" %}
{% block content %}

<div>
<p>We are citizens who are interested in helping JPL identify features of interest in images collected by the Mars rover.</p>

<p>The features JPL needs us to identify are listed below.</p>
</div>
<div>

<ul>
	<li><a href="http://mars.jpl.nasa.gov/msl-raw-images/msss/00753/mcam/0753MR0032340000403661E01_DXXX.jpg">Layered rocks</a></li>
	<li><a href="http://merpublic.s3.amazonaws.com/oss/merb/ops/ops/surface/tactical/sol/2769/opgs/edr/pcam/1P374006448ESFBQ29P2574R1M_.JPG">Gypsum vein</a></li>

	<li><a href="http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/00477/opgs/edr/ncam/NLB_439844595EDR_F0240366NCAM00273M_.JPG">Rocks that are brighter than most others in their surroundings</a></li>

	<li><a href="http://marswatch.astro.cornell.edu/pancam_instrument/images/False/Sol339B_P2581_1_False_L257.jpg">Meteorites 1</a></li>
	<li><a href="http://mars.jpl.nasa.gov/msl-raw-images/msss/00640/mcam/0640ML0027180000302738E01_DXXX.jpg">Meteorites 2</a></li>
	<li><a href="http://mars.jpl.nasa.gov/msl-raw-images/msss/00771/mcam/0771MR0033100010403871E01_DXXX.jpg">Meteorites 3</a></li>

	<li><a href="http://marswatch.astro.cornell.edu/pancam_instrument/images/False/Sol017B_P2555_1_False_L257.jpg">Blueberries</a></li>


	<li><a href="http://mars.jpl.nasa.gov/msl-raw-images/msss/00758/mcam/0758ML0032540030400063E01_DXXX.jpg">Wheel wear</a></li>
</ul>
</div>



{% endblock %}
